.bageList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 16px;
  color: var(--white-color);
  background-color: var(--main-light-theme-color);
}