.experience>p {
  margin: 0;
  padding: .5rem 0;
}

.experienceCompany {
  color: var(--main-theme-color);
  padding: .5rem 0 0;
}

.experienceSecondary {
  color: var(--secondary-theme-color);
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}