.experience {
  break-inside: avoid;
  page-break-inside: avoid;
}

.experience>p {
  margin: 0;
  padding: .5rem 0;
}

.experience>hr {
  margin: 0;
  padding-top: .5rem;
  border: none;
  border-bottom: 2px dashed var(--secondary-theme-color);
}

.experienceCompany {
  color: var(--main-theme-color);
  padding: .5rem 0 0;
}

.experienceSecondary {
  color: var(--secondary-theme-color);
  display: flex;
  gap: 0 .5rem;
  flex-wrap: wrap;
}