:root {
  --black-color: #333;
  --white-color: #fff;
  --main-theme-color: #3fa0ff;
  --main-light-theme-color: #6fc6ff;
  --secondary-theme-color: #999;
}

body {
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 8px 0;
  font-weight: 700 !important;
}

p {
  margin: 0;
}