:root {
  --global-text-color: #333;
  --secondary-text-color: #999;
  --white-text-color: #fff;
  --background-color: lightblue;
}

body {
  color: var(--global-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

@media print {
  body {
    font-size: 12px;
  }

  .noPrint {
    display: none;
  }
}