.container {
  position: relative;
  display: inline-block;
}

.selectBox {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid var(--secondary-theme-color);
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  gap: 4px;
}

.selectBox:hover,
.selectBox:focus {
  border-color: var(--secondary-theme-color);
  outline: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--secondary-light-theme-color);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.option {
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--black-color);
}

.option:hover {
  background-color: var(--secondary-light-theme-color);
}

.optionSelected {
  background-color: var(--secondary-light-theme-color);
}

.chevron {
  color: var(--secondary-theme-color);
}