.section {
  width: 100%;
}

.sectionDivider {
  border: 1px solid var(--black-color);
  margin: 0;
}

.children {
  padding: 8px 0;
}

.children> :not(:last-child) {
  border-bottom: 2px dashed var(--secondary-theme-color);
  padding-bottom: 16px;
}