.section {
  width: 100%;
}

.section>hr {
  border: 1px solid var(--black-color);
  margin: 0;
}

.section>:not(h3):not(hr):not(ul) {
  padding: .5rem 0;
}

.section> :not(h3):not(hr):not(:last-child) {
  border-bottom: 2px dashed var(--secondary-theme-color);
}