.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}

.contacts a {
  color: var(--main-theme-color);
  font-weight: 600;
}

.contacts svg {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125rem;
}

.contacts>div {
  display: flex;
  align-items: center;
  gap: 4px;
}